.profile-main {
  width: 100%;
  align-items: center;
}
.myprofile {
  max-width: 700px;
  height: 180px;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 50px;
}

.profile-image {
  width: 150px;
  height: 150px;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  justify-content: center;
}

.info-id,
.info-cnts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-id span {
  font-size: 20px;
}

button {
  font-size: 15px;
  background-color: rgb(196, 196, 196);
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
}
button:hover {
  background-color: rgb(214, 214, 214);
}

.cnt-title {
  color: gray;
}
.posts {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.icons svg {
  padding: 10px;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.selected {
  border-bottom: 2px solid black !important;
}
.line {
  height: 1px;
  width: 100%;
  background-color: rgb(129, 129, 129);
}
.profile-grid {
  width: 100%;
  min-height: 500px;
}
.mobile-only {
  display: none;
}
.not-mobile {
  display: flex;
}

@media (max-width: 768px) {
  .mobile-only {
    display: flex;
  }
  .not-mobile {
    display: none !important;
  }
  .icons {
    width: 100%;
    justify-content: space-around !important;
    gap: 0;
  }
  .posts {
    width: 100%;
  }
  .profile-image {
    width: 100px;
    height: 100px;
  }
  .myprofile {
    gap: 30px;
    height: fit-content;
    padding-top: 30px;
  }
  .top-id {
    font-size: 25px;
    font-weight: 800;
  }
  .info {
    gap: 10px;
  }
  .info-cnts {
    gap: 60px;
    padding-right: 20px;
  }
  .info-cnts > p {
    display: flex;
    flex-direction: column;
  }
  .btns {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  button {
    width: 37%;
  }
}
