/* Search page */
.search-main {
  margin: 0 !important;
}

.search-bar {
  width: 100%;
  max-width: 980px;
  box-sizing: border-box;
}

.search-input-wrap {
  width: 98%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 12px;
  background: #0000000d;
  box-sizing: border-box;
  margin-top: 15px;
}

.search-input {
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.search-grid {
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .search-bar {
    margin-top: 50px;
    margin-left: 10px;
  }
}
